.contacts-section {
  padding: 120px 0 100px;
  background-color: $secondary-darker;
  text-align: center;

  h3 {
    margin-bottom: 20px;
    color: $white;
  }

  h5 {
    margin-bottom: 25px;
    color: $white;
  }

  p {
    max-width: 510px;
    margin: 0 auto 90px;
    font-size: $font-size-base * 0.875;
    line-height: $line-height-base * 0.857;
    color: $white;
    opacity: 0.6;
  }

  .contacts-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .small-letters {
      font-size: $font-size-base * 0.75;
      margin-bottom: 0;
    }
  }

  .contact-column {
    flex: 1;

    &.social {
      h5 {
        margin-bottom: 16px;
      }
    }
  }

  .contact-detail {
    font-family: 'Poppins-Bold';
    font-size: $font-size-base * 1.25;
    line-height: $line-height-base * 1.14;
    color: $primary;
    text-decoration: underline;
  }

  .social-icons {
    display: flex;
    width: 110px;
    height: 48px;
    margin: 0 auto;
    position: relative;

    .social-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      padding: 12px;
      background-color: $primary;
      border-radius: 25px;
      cursor: pointer;

      &.twitter {
        margin-right: 16px;
      }
    }
  }
}

.footer-navigation-section {
  padding: 48px 0;
  background-color: $grey4;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p,
    a {
      font-size: $font-size-base * 0.75;
    }

    p {
      color: $grey2;
    }

    .footer-navigation {
      ul {
        display: flex;
      }
    }

    a {
      font-family: 'Roboto-Regular';
      color: $grey1;
    }

    li {
      &:not(:last-of-type) {
        margin-right: 48px;
      }
    }
  }
}