.header-navigation {
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 8px 14px 18px;

  .logo {
    width: 48px;
    height: 32px;
  }

  nav {
    order: 2;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .nav-item  {
      font-family: 'Roboto-Medium';
      font-size: $font-size-base * 0.875;
      display: inline;
      margin-right: 33px;
      color: $grey1;

      &.active {
        color: $primary;
      }
    }
  }
    
  .button {
    order: 1;
    margin-left: auto;
    font-size: $font-size-base * 0.875;
    line-height: $line-height-base * 0.86;
    padding: 4px 24px;
  }
}

@include bp(desktop) {
  .header-navigation {
    flex-wrap: no-wrap;
    height: 112px;
    max-width: 160rem;
    padding: 24px 60px;
  
    .logo {
      width: 100px;
      height: 64px;
      margin-right: auto;
    }
  
    nav {
      order: 1;

      .nav-item  {
        margin-right: 48px;
        transition: color .25s;
  
        &:hover {
          color: $primary;
        }
      }
    }
  
    .button {
      order: 2;
      margin-left: 0;
      padding: 12px 48px;
    }
  }  
}