@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@import 'variables';
@import 'reset';
@import 'base';

h1 {
  font-family: $font-family;
}