html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  font-size: $font-size-base;
}

p {
  font-family: 'Roboto-Regular';
  font-size: inherit;
  line-height: $line-height-base;
}
