h1,
h2,
h3,
h5 {
  font-family: 'Poppins-Bold';
}

h2,
h3,
h5 {
  color: $black;
}

h1 {
  font-size: $font-size-base * 1.25;
  line-height: $line-height-base * 1.14;
}

h2 {
  font-size: $font-size-base * 1.25;
  line-height: $line-height-base * 1.14;
}

h3 {
  font-size: $font-size-base * 1.25;
  line-height: $line-height-base * 1.14;
}

h5 {
  font-size: $font-size-base * 0.75;
  line-height: $line-height-base * 0.857;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto-Regular';
  font-size: $font-size-base * 0.875;
  line-height: $line-height-base * 0.857;
  color: $grey1;
}

@include bp(desktop) {
  h1 {
    font-size: $font-size-base * 2.5;
    line-height: $line-height-base * 2;
  }
  
  h2 {
    font-size: $font-size-base * 2;
    line-height: $line-height-base * 1.43;
  }
  
  h3 {
    font-size: $font-size-base * 1.5;
    line-height: $line-height-base * 1.14;
  }
  
  p {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }  
}
