$primary: #009CC0;
$secondary: #662483;
$secondary-darker: #4E0F69;
$white: #fff;
$black: #323133;
$grey1: #656D78;
$grey2: #AAB2BD;
$grey4: #F5F7FA;

$font-size-base: 1.6rem;
$line-height-base: 2.8rem;
